@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';

@import './bulma/button';
@import './bulma/alert';
@import './bulma/tabs';
@import './bulma/typography';

@mixin agnos($all: false, $button: false, $alert: false, $tabs: false, $typography: false) {
    @if $all or $button {
        @include button;
    }

    @if $all or $alert {
        @include alert;
    }

    @if $all or $tabs {
        @include tabs;
    }

    @if $all or $typography {
        @include typography;
    }
}
