//   $fd-scss-icons-path: 'node_modules/fundamental-ui/scss/icons/';
//   $fd-fonts-path: 'node_modules/fundamental-ui/scss/fonts/';
//   $fd-colors-action: (
//     1: $primary
//   );

@import 'node_modules/fundamental-ui/scss/settings';

@import './fundamental-ui/button';
@import './fundamental-ui/alert';
@import './fundamental-ui/tabs';
@import './fundamental-ui/typography';

@mixin agnos($all: false, $button: false, $alert: false, $tabs: false, $typography: false) {
    @if $all or $button {
        @include button;
    }

    @if $all or $alert {
        @include alert;
    }

    @if $all or $tabs {
        @include tabs;
    }

    @if $all or $typography {
        @include typography;
    }
}
