$font-stack: 'Open Sans';
@import 'node_modules/materialize-css/sass/components/color-variables';
// @import 'node_modules/materialize-css/sass/components/color-classes';
@import 'node_modules/materialize-css/sass/components/variables';
@import 'node_modules/materialize-css/sass/components/global';

@import './materialize/button';
@import './materialize/tabs';
@import './materialize/typography';

@mixin agnos($all: false, $button: false, $alert: true, $tabs: false, $typography: false) {
    @if $all or $button {
        @include button;
    }

    @if $all or $tabs {
        @include tabs;
    }

    @if $all or $alert {
        @warn "Materialize doesn't support the classic alert box, instead they use toasts ";
    }
}
