@import '~fundamental-ui/scss/components/button.scss';

@mixin button {
    button,
    input[type='button'] {
        // &:not([color]) {
        @extend .fd-button !optional;
        // }
        &:not(.outline) {
            @extend .fd-button--action-bar !optional;
        }
        &.outline {
            @extend .fd-button !optional;
        }
        &.large {
            @extend .fd-button--l !optional;
        }
        &.small {
            @extend .fd-button--xs !optional;
        }

        &.block {
            display: block;
            width: 100%;
        }
        &.active {
            @extend .is-selected !optional;
        }

        &[color='secondary'] {
            @extend .fd-button--secondary !optional;
        }
    }
    &.outline {
        @extend .is-outlined !optional;
    }

    a[role='button'] {
        @extend .fd-link !optional;
        &:disabled,
        &[disabled] {
            @extend .is-disabled !optional;
        }
    }
    @include buttongroup();
}

@mixin buttongroup {
    [role='group'] {
        &:has(button),
        &:has(a[role='button']),
        &:has(input[type='button']) {
            @extend .fd-button-group !optional;
        }
        // unfortunately we cannot extend from child classes
        button,
        a[role='button'],
        input[type='button'] {
            &:not(:last-child) {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
            &:not(:first-child) {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                margin-right: -1px;
            }
        }
    }
}
